In [20]:
from math import floor
import pandas as pd
import datetime as dt
import numpy as np

In [21]:

#read in datasets
patients = pd.read_csv('./datasets/patients.csv')
encounters = pd.read_csv('./datasets/encounters.csv')
patients.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP
0,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,1943-03-11,NaN,999-86-7250,S99939389,X3970685X,Mrs.,Allyn942,Kreiger457,NaN,Bartoletti50,M,asian,asian_indian,F,Muhlenberg Pennsylvania US,372 Marks Heights Unit 20,Middle Paxton,Pennsylvania,NaN
1,7f4ea9fb-f436-411e-ab34-e94750edfa93,1980-09-28,NaN,999-90-4314,S99920355,X28211313X,Mr.,Kieth891,King743,NaN,NaN,M,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN
2,553b00b2-347c-48ec-90ee-f59924ff50eb,1973-02-22,NaN,999-78-9189,S99980820,X9988931X,Mrs.,Domenica436,Fadel536,NaN,Labadie908,M,white,scottish,F,Wilkins Pennsylvania US,519 Ziemann Trail,Washington,Pennsylvania,15301.0
3,50f799aa-740c-4da9-ab85-49d5cbf4046b,1955-03-30,NaN,999-49-5162,S99961309,X17464073X,Mr.,Kelly223,Turner526,NaN,NaN,M,white,irish,M,Manor Pennsylvania US,158 Dickens Corner Suite 2,Manheim,Pennsylvania,17545.0
4,bcef3b7a-0380-4b7e-b2b9-2caf07e41f0e,2009-05-24,NaN,999-74-7736,NaN,NaN,NaN,Zack583,Purdy2,NaN,NaN,NaN,white,german,M,Cranberry Pennsylvania US,1000 Vandervort Run,Washington,Pennsylvania,15301.0

In [22]:
#change date to datetime
encounters['START'] = pd.to_datetime(encounters['START'])
encounters['STOP'] = pd.to_datetime(encounters['STOP'])
patients['DOB'] = pd.to_datetime(patients['BIRTHDATE'])
#filter encounters to be drug overdose after July 15, 1999
drug_overdose = encounters[(encounters['REASONDESCRIPTION'] == 'Drug overdose') & (encounters['START'] > '07-15-1999')]
#join patients and encounters by patient ids
do_patient_enct = encounters.merge(patients, left_on='PATIENT', right_on='Id')
#filter patients age to be 18 to 35 at time of encounters
do_patient_enct['AgeAtEncounter'] = do_patient_enct.apply(lambda x: floor((x['START'] - x['DOB']).days/365), axis=1)
do_pts_enct_filtered  = do_patient_enct[(do_patient_enct['AgeAtEncounter']>=18) & (do_patient_enct['AgeAtEncounter']<=35)]
print(do_pts_enct_filtered.head(10))
#rename some columns if needed.
#rename Id_x to EncounterId
#rename Id_y to PatientId
do_pts_enct_filtered.rename(columns={'Id_x':'ENCOUNTER_ID', 'Id_y':'PATIENT_ID','START':'HOSPITAL_ENCOUNTER_DATE',
                                     'AgeAtEncounter':'AGE_AT_VISIT'}, inplace=True)

                                     Id_x               START  \
1    92078752-a89c-4931-b95e-0f8df485e9f6 1963-09-26 09:43:49
2    9f82be52-2927-4d0a-80f7-e1aa2690df04 1971-12-30 09:43:49
3    f00791c1-943e-4347-8ac5-0013f907fda6 1975-01-02 09:43:49
53   ba6137e3-c8cd-42e6-9a02-eafa13d1cfa9 2008-08-29 19:14:19
112  10aa7678-5c84-4ce9-81af-09272307c1f0 1999-07-12 03:05:41
113  8e2e1683-82da-48af-a740-80e9ce8e38ca 1999-10-10 03:05:41
114  84cab86e-73fe-4c2b-a90e-aab11238fc1d 2007-03-13 03:05:41
115  75fa4fa5-d9a1-4959-8dc5-7d427d701842 2009-07-27 03:05:41
116  034cdb4a-ec42-4667-93ad-349b787500b7 2011-04-20 03:05:41
117  68d65aa7-4b11-4b75-b8ec-d111e8b8bcf5 2011-05-20 03:05:41

                   STOP                               PATIENT  \
1   1963-10-05 03:20:42  3d8e57b2-3de5-4fb6-95b4-8370270c5cc2
2   1972-01-08 03:39:08  3d8e57b2-3de5-4fb6-95b4-8370270c5cc2
3   1975-01-10 20:19:23  3d8e57b2-3de5-4fb6-95b4-8370270c5cc2
53  2008-09-07 13:33:07  553b00b2-347c-48ec-90ee-f59924ff50eb
112 1999-07-20 11:18:24  7f4ea9fb-f436-411e-ab34-e94750edfa93
113 1999-10-18 19:42:57  7f4ea9fb-f436-411e-ab34-e94750edfa93
114 2007-03-21 05:24:58  7f4ea9fb-f436-411e-ab34-e94750edfa93
115 2009-08-06 02:36:25  7f4ea9fb-f436-411e-ab34-e94750edfa93
116 2011-04-27 23:02:36  7f4ea9fb-f436-411e-ab34-e94750edfa93
117 2011-05-26 16:39:47  7f4ea9fb-f436-411e-ab34-e94750edfa93

                                 PROVIDER ENCOUNTERCLASS         CODE  \
1    fa6006c2-c562-3278-859b-96b266fc3ea1     ambulatory  424441002.0
2    cf8b061c-929b-3eb4-b473-c43341f6e200       wellness  185349003.0
3    cf8b061c-929b-3eb4-b473-c43341f6e200       wellness  185349003.0
53   fe803a6f-c717-36e8-a338-9b3cdb9ee724     outpatient  698314001.0
112  cc6a930c-727f-3999-b655-179e57b30538       wellness  185349003.0
113  9cba05bf-33be-3eac-a594-614bd080e3b7     ambulatory  390906007.0
114  9cba05bf-33be-3eac-a594-614bd080e3b7     ambulatory  185345009.0
115  cc6a930c-727f-3999-b655-179e57b30538       wellness  185349003.0
116  af4f9a5a-4378-3fe9-83c5-efe8ceff5adf      emergency   50849002.0
117  9cba05bf-33be-3eac-a594-614bd080e3b7     ambulatory  185345009.0

                              DESCRIPTION    COST  REASONCODE  ...   RACE  \
1                  Prenatal initial visit  105.37  72892002.0  ...  asian
2      Encounter for check up (procedure)  105.37         NaN  ...  asian
3      Encounter for check up (procedure)  105.37         NaN  ...  asian
53             Consultation for treatment  105.37         NaN  ...  white
112    Encounter for check up (procedure)  105.37         NaN  ...  white
113      Hypertension follow-up encounter  105.37         NaN  ...  white
114                 Encounter for symptom  105.37  10509002.0  ...  white
115    Encounter for check up (procedure)  105.37         NaN  ...  white
116  Emergency room admission (procedure)  105.37         NaN  ...  white
117                 Encounter for symptom  105.37  10509002.0  ...  white

        ETHNICITY GENDER                    BIRTHPLACE  \
1    asian_indian      F  Muhlenberg  Pennsylvania  US
2    asian_indian      F  Muhlenberg  Pennsylvania  US
3    asian_indian      F  Muhlenberg  Pennsylvania  US
53       scottish      F     Wilkins  Pennsylvania  US
112         irish      M   Overfield  Pennsylvania  US
113         irish      M   Overfield  Pennsylvania  US
114         irish      M   Overfield  Pennsylvania  US
115         irish      M   Overfield  Pennsylvania  US
116         irish      M   Overfield  Pennsylvania  US
117         irish      M   Overfield  Pennsylvania  US

                       ADDRESS           CITY         STATE      ZIP  \
1    372 Marks Heights Unit 20  Middle Paxton  Pennsylvania      NaN
2    372 Marks Heights Unit 20  Middle Paxton  Pennsylvania      NaN
3    372 Marks Heights Unit 20  Middle Paxton  Pennsylvania      NaN
53           519 Ziemann Trail     Washington  Pennsylvania  15301.0
112  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN
113  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN
114  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN
115  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN
116  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN
117  428 Strosin Fort Suite 49       Limerick  Pennsylvania      NaN

           DOB AgeAtEncounter
1   1943-03-11             20
2   1943-03-11             28
3   1943-03-11             31
53  1973-02-22             35
112 1980-09-28             18
113 1980-09-28             19
114 1980-09-28             26
115 1980-09-28             28
116 1980-09-28             30
117 1980-09-28             30

[10 rows x 33 columns]

/var/folders/7s/j58gn4296fn0f_714k2grx580000gn/T/ipykernel_33489/378112020.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  do_pts_enct_filtered.rename(columns={'Id_x':'ENCOUNTER_ID', 'Id_y':'PATIENT_ID','START':'HOSPITAL_ENCOUNTER_DATE',

In [23]:
do_pts_enct_filtered.head(10)

,ENCOUNTER_ID,HOSPITAL_ENCOUNTER_DATE,STOP,PATIENT,PROVIDER,ENCOUNTERCLASS,CODE,DESCRIPTION,COST,REASONCODE,...,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,ZIP,DOB,AGE_AT_VISIT
1,92078752-a89c-4931-b95e-0f8df485e9f6,1963-09-26 09:43:49,1963-10-05 03:20:42,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,fa6006c2-c562-3278-859b-96b266fc3ea1,ambulatory,424441002.0,Prenatal initial visit,105.37,72892002.0,...,asian,asian_indian,F,Muhlenberg Pennsylvania US,372 Marks Heights Unit 20,Middle Paxton,Pennsylvania,NaN,1943-03-11,20
2,9f82be52-2927-4d0a-80f7-e1aa2690df04,1971-12-30 09:43:49,1972-01-08 03:39:08,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,cf8b061c-929b-3eb4-b473-c43341f6e200,wellness,185349003.0,Encounter for check up (procedure),105.37,NaN,...,asian,asian_indian,F,Muhlenberg Pennsylvania US,372 Marks Heights Unit 20,Middle Paxton,Pennsylvania,NaN,1943-03-11,28
3,f00791c1-943e-4347-8ac5-0013f907fda6,1975-01-02 09:43:49,1975-01-10 20:19:23,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,cf8b061c-929b-3eb4-b473-c43341f6e200,wellness,185349003.0,Encounter for check up (procedure),105.37,NaN,...,asian,asian_indian,F,Muhlenberg Pennsylvania US,372 Marks Heights Unit 20,Middle Paxton,Pennsylvania,NaN,1943-03-11,31
53,ba6137e3-c8cd-42e6-9a02-eafa13d1cfa9,2008-08-29 19:14:19,2008-09-07 13:33:07,553b00b2-347c-48ec-90ee-f59924ff50eb,fe803a6f-c717-36e8-a338-9b3cdb9ee724,outpatient,698314001.0,Consultation for treatment,105.37,NaN,...,white,scottish,F,Wilkins Pennsylvania US,519 Ziemann Trail,Washington,Pennsylvania,15301.0,1973-02-22,35
112,10aa7678-5c84-4ce9-81af-09272307c1f0,1999-07-12 03:05:41,1999-07-20 11:18:24,7f4ea9fb-f436-411e-ab34-e94750edfa93,cc6a930c-727f-3999-b655-179e57b30538,wellness,185349003.0,Encounter for check up (procedure),105.37,NaN,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,18
113,8e2e1683-82da-48af-a740-80e9ce8e38ca,1999-10-10 03:05:41,1999-10-18 19:42:57,7f4ea9fb-f436-411e-ab34-e94750edfa93,9cba05bf-33be-3eac-a594-614bd080e3b7,ambulatory,390906007.0,Hypertension follow-up encounter,105.37,NaN,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,19
114,84cab86e-73fe-4c2b-a90e-aab11238fc1d,2007-03-13 03:05:41,2007-03-21 05:24:58,7f4ea9fb-f436-411e-ab34-e94750edfa93,9cba05bf-33be-3eac-a594-614bd080e3b7,ambulatory,185345009.0,Encounter for symptom,105.37,10509002.0,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,26
115,75fa4fa5-d9a1-4959-8dc5-7d427d701842,2009-07-27 03:05:41,2009-08-06 02:36:25,7f4ea9fb-f436-411e-ab34-e94750edfa93,cc6a930c-727f-3999-b655-179e57b30538,wellness,185349003.0,Encounter for check up (procedure),105.37,NaN,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,28
116,034cdb4a-ec42-4667-93ad-349b787500b7,2011-04-20 03:05:41,2011-04-27 23:02:36,7f4ea9fb-f436-411e-ab34-e94750edfa93,af4f9a5a-4378-3fe9-83c5-efe8ceff5adf,emergency,50849002.0,Emergency room admission (procedure),105.37,NaN,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,30
117,68d65aa7-4b11-4b75-b8ec-d111e8b8bcf5,2011-05-20 03:05:41,2011-05-26 16:39:47,7f4ea9fb-f436-411e-ab34-e94750edfa93,9cba05bf-33be-3eac-a594-614bd080e3b7,ambulatory,185345009.0,Encounter for symptom,105.37,10509002.0,...,white,irish,M,Overfield Pennsylvania US,428 Strosin Fort Suite 49,Limerick,Pennsylvania,NaN,1980-09-28,30

In [24]:
#part 2 create indicators
#cut the filtered table to needed columns
od_pts_enct = do_pts_enct_filtered[['ENCOUNTER_ID', 'PATIENT_ID', 'HOSPITAL_ENCOUNTER_DATE', 'STOP', 'AGE_AT_VISIT','DEATHDATE']]
#2.1 generate death indicators
od_pts_enct.head()
#change death date to date time 
od_pts_enct['DEATHDATE'] = pd.to_datetime(od_pts_enct['DEATHDATE'])
#generate death indicator
od_pts_enct['DEATH_AT_VISIT_IND'] = ''
for idx, row in od_pts_enct.iterrows():
    if row['DEATHDATE'] is pd.NaT:
        od_pts_enct.loc[idx, 'DEATH_AT_VISIT_IND'] = 'N/A'
    else:
        if row['DEATHDATE'] >= row['HOSPITAL_ENCOUNTER_DATE'] and row['DEATHDATE'] <=row['STOP']:
            od_pts_enct.loc[idx, 'DEATH_AT_VISIT_IND'] = '1'
        else:
            od_pts_enct.loc[idx, 'DEATH_AT_VISIT_IND'] = '0'

od_pts_enct.head(10)

/var/folders/7s/j58gn4296fn0f_714k2grx580000gn/T/ipykernel_33489/3343549464.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  od_pts_enct['DEATHDATE'] = pd.to_datetime(od_pts_enct['DEATHDATE'])
/var/folders/7s/j58gn4296fn0f_714k2grx580000gn/T/ipykernel_33489/3343549464.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  od_pts_enct['DEATH_AT_VISIT_IND'] = ''

,ENCOUNTER_ID,PATIENT_ID,HOSPITAL_ENCOUNTER_DATE,STOP,AGE_AT_VISIT,DEATHDATE,DEATH_AT_VISIT_IND
1,92078752-a89c-4931-b95e-0f8df485e9f6,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,1963-09-26 09:43:49,1963-10-05 03:20:42,20,NaT,N/A
2,9f82be52-2927-4d0a-80f7-e1aa2690df04,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,1971-12-30 09:43:49,1972-01-08 03:39:08,28,NaT,N/A
3,f00791c1-943e-4347-8ac5-0013f907fda6,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,1975-01-02 09:43:49,1975-01-10 20:19:23,31,NaT,N/A
53,ba6137e3-c8cd-42e6-9a02-eafa13d1cfa9,553b00b2-347c-48ec-90ee-f59924ff50eb,2008-08-29 19:14:19,2008-09-07 13:33:07,35,NaT,N/A
112,10aa7678-5c84-4ce9-81af-09272307c1f0,7f4ea9fb-f436-411e-ab34-e94750edfa93,1999-07-12 03:05:41,1999-07-20 11:18:24,18,NaT,N/A
113,8e2e1683-82da-48af-a740-80e9ce8e38ca,7f4ea9fb-f436-411e-ab34-e94750edfa93,1999-10-10 03:05:41,1999-10-18 19:42:57,19,NaT,N/A
114,84cab86e-73fe-4c2b-a90e-aab11238fc1d,7f4ea9fb-f436-411e-ab34-e94750edfa93,2007-03-13 03:05:41,2007-03-21 05:24:58,26,NaT,N/A
115,75fa4fa5-d9a1-4959-8dc5-7d427d701842,7f4ea9fb-f436-411e-ab34-e94750edfa93,2009-07-27 03:05:41,2009-08-06 02:36:25,28,NaT,N/A
116,034cdb4a-ec42-4667-93ad-349b787500b7,7f4ea9fb-f436-411e-ab34-e94750edfa93,2011-04-20 03:05:41,2011-04-27 23:02:36,30,NaT,N/A
117,68d65aa7-4b11-4b75-b8ec-d111e8b8bcf5,7f4ea9fb-f436-411e-ab34-e94750edfa93,2011-05-20 03:05:41,2011-05-26 16:39:47,30,NaT,N/A

In [25]:
od_pts_enct.DEATH_AT_VISIT_IND.value_counts()

N/A    76563
0       7145
1         38
Name: DEATH_AT_VISIT_IND, dtype: int64

In [35]:
#2.2 get current med count
#read in medication tables
medications = pd.read_csv('./datasets/medications.csv')
medications.head()
def countPatientMedication(patient_id, startdate, medications):
    #count the number of medications the patient took before the encounter
    #check if the stop time is NA
    count = 0 
    pts_med = medications[medications['PATIENT'] == patient_id]  
    for index, row in pts_med.iterrows(): 
        if (row['STOP'] == 'NA' or row['STOP'] > startdate):
           count += 1
        else:
            continue
    print("the count is %d" % count)  
    return count

def getCurrentMedsCount(encounters, medications):
    #get a test dataset:
    # test = encounters.head(10)
    for index, row in encounters.iterrows():
        patient_id = row['PATIENT_ID']
        startdate = row['HOSPITAL_ENCOUNTER_DATE']
        encounters.loc[index, 'COUNT_CURRENT_MEDS'] =\
             countPatientMedication(patient_id,
             startdate, medications)
    print("finish counting current medications")
    return encounters


#change date to datetime
medications['START'] = pd.to_datetime(medications['START'])
medications['STOP'] = pd.to_datetime(medications['STOP'])
#find medications that started before July 15, 1999
part_med = medications[medications['PATIENT'].isin(do_pts_enct_filtered['PATIENT_ID'])][['START','STOP',
'PATIENT','ENCOUNTER','DESCRIPTION']]
print(part_med.info())
print(od_pts_enct.info())
# processPartialData(10,od_encounter, medications)
# print(x)
od_curr_med = getCurrentMedsCount(od_pts_enct, part_med)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87074 entries, 0 to 112211
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        87074 non-null  datetime64[ns]
 1   STOP         70692 non-null  datetime64[ns]
 2   PATIENT      87074 non-null  object
 3   ENCOUNTER    87074 non-null  object
 4   DESCRIPTION  87074 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 83746 entries, 1 to 413178
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ENCOUNTER_ID             83746 non-null  object
 1   PATIENT_ID               83746 non-null  object
 2   HOSPITAL_ENCOUNTER_DATE  83746 non-null  datetime64[ns]
 3   STOP                     83746 non-null  datetime64[ns]
 4   AGE_AT_VISIT             83746 non-null  int64
 5   DEATHDATE                7183 non-null   datetime64[ns]
 6   DEATH_AT_VISIT_IND       83746 non-null  object
 7   COUNT_CURRENT_MEDS       108 non-null    float64
dtypes: datetime64[ns](3), float64(1), int64(1), object(3)
memory usage: 7.8+ MB
None
the count is 1
the count is 1
the count is 1
the count is 7
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 0
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 12
the count is 11
the count is 10
the count is 9
the count is 8
the count is 7
the count is 7
the count is 6
the count is 5
the count is 4
the count is 3
the count is 2
the count is 1
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 4
the count is 4
the count is 4
the count is 3
the count is 3
the count is 3
the count is 2
the count is 1
the count is 1
the count is 1
the count is 0
the count is 3
the count is 3
the count is 3
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 1
the count is 20
the count is 20
the count is 20
the count is 20
the count is 12
the count is 10
the count is 10
the count is 10
the count is 6
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 5
the count is 4
the count is 2
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 14
the count is 14
the count is 0
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 3
the count is 3
the count is 3
the count is 26
the count is 26
the count is 6
the count is 6
the count is 23
the count is 23
the count is 23
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 3
the count is 3
the count is 3
the count is 3
the count is 5
the count is 4
the count is 4
the count is 4
the count is 4
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 13
the count is 4
the count is 5
the count is 5
the count is 4
the count is 4
the count is 3
the count is 3
the count is 3
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 12
the count is 12
the count is 12
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 3
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 2
the count is 2
the count is 2
the count is 2
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 8
the count is 34
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 1
the count is 0
the count is 0
the count is 0
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 5
the count is 4
the count is 4
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 5
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 3
the count is 6
the count is 6
the count is 6
the count is 5
the count is 4
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 10
the count is 9
the count is 9
the count is 9
the count is 8
the count is 8
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 6
the count is 6
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 4
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 40
the count is 40
the count is 40
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 0
the count is 0
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 0
the count is 0
the count is 3
the count is 2
the count is 2
the count is 2
the count is 1
the count is 0
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 5
the count is 5
the count is 5
the count is 1
the count is 4
the count is 4
the count is 3
the count is 2
the count is 2
the count is 1
the count is 1
the count is 3
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 27
the count is 27
the count is 0
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 29
the count is 29
the count is 29
the count is 29
the count is 11
the count is 11
the count is 10
the count is 10
the count is 10
the count is 10
the count is 9
the count is 9
the count is 9
the count is 8
the count is 8
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 6
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 2
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 9
the count is 8
the count is 7
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 5
the count is 4
the count is 4
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 11
the count is 4
the count is 1
the count is 0
the count is 0
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 10
the count is 10
the count is 10
the count is 2
the count is 22
the count is 22
the count is 6
the count is 6
the count is 5
the count is 3
the count is 2
the count is 2
the count is 2
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 2
the count is 2
the count is 6
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 3
the count is 2
the count is 2
the count is 2
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 1
the count is 7
the count is 7
the count is 11
the count is 11
the count is 11
the count is 11
the count is 11
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 1
the count is 10
the count is 10
the count is 10
the count is 10
the count is 9
the count is 9
the count is 9
the count is 9
the count is 8
the count is 8
the count is 8
the count is 8
the count is 8
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 6
the count is 6
the count is 6
the count is 6
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 3
the count is 3
the count is 3
the count is 3
the count is 76
the count is 76
the count is 1
the count is 1
the count is 1
the count is 1
the count is 2
the count is 2
the count is 1
the count is 1
the count is 1
the count is 1
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 0
the count is 1
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 7
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 6
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 5
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 4
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 3
the count is 1
the count is 2
the count is 1
the count is 0
the count is 0
the count is 1
the count is 1

KeyboardInterrupt:

In [ ]:
#2.3
#define check opiod functions
def checkActiveOpiod(drug_overdose, opiod_med):
    #check if the patient is using opiod at the time of drug overdose encounter
    # while n < 10 : do this... n+=1 to shorten the run time.
    drug_overdose['CURRENT_OPIOD_IND'] =\
                     drug_overdose.apply(lambda x: \
                        getOpiodUseStatus(x['PATIENT'],x['START'],opiod_med), axis=1)
    print("finish checking opiod use before overdose")
    return drug_overdose

def getOpiodUseStatus(patient,startdate,opiod_med):
    #check if the patient is using opiod at the time of drug overdose encounter
    for index2, row2 in opiod_med.iterrows():
        if row2['PATIENT'] == patient:
            if (row2['STOP'] == 'NA' or row2['STOP'] > startdate):
                print('find an opiod use')
                return 1
    return 0
opiod_list = ['Hydromorphone','Fentanyl',
    'Oxycodone-acetaminophen']
    #filter medications that contain opiod
part_med['CONTAIN_OPIOD'] = \
    part_med.apply(lambda x: containsAny(x['DESCRIPTION'], opiod_list), axis=1)
opiod_med = part_med[part_med['CONTAIN_OPIOD'] == True]
print(opiod_med.info())
od_opiod_active = checkActiveOpiod(od_curr_med, opiod_med)

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,COST,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,1997-09-20,NaN,2043c57c-1085-45a3-87e8-a223d5b6693d,3710b40a-bcc0-4c0f-a204-e47a5f3aec98,316049,Hydromorphone 325 MG,214.96,265,56964.40,59621000.0,Pain Relief
1,1957-04-19,NaN,50f799aa-740c-4da9-ab85-49d5cbf4046b,64b4efb0-26ba-4c7f-91c1-64d8f62e49e3,1049630,diphenhydrAMINE Hydrochloride 25 MG Oral Tablet,6.53,757,4943.21,NaN,NaN
2,2008-08-29,2009-08-24,553b00b2-347c-48ec-90ee-f59924ff50eb,ba6137e3-c8cd-42e6-9a02-eafa13d1cfa9,749785,Ortho Tri-Cyclen 28 Day Pack,24.12,12,289.44,NaN,NaN
3,1999-10-09,NaN,7f4ea9fb-f436-411e-ab34-e94750edfa93,8e2e1683-82da-48af-a740-80e9ce8e38ca,999969,Amlodipine 5 MG / Fentanyl 100 MCG / Olmesarta...,214.96,240,51590.40,59621000.0,Pain Relief
4,2003-07-31,NaN,3d8e57b2-3de5-4fb6-95b4-8370270c5cc2,82e9e0a1-3ef3-4cb8-b971-3e3de33652a1,904419,Alendronic acid 10 MG Oral Tablet,106.90,194,20738.60,NaN,NaN

In [ ]:
#2.4 define re-admission functions

def find90Readmission(readmissions):
    readmissions['READMISSION_90_DAY_IND'] = readmissions.apply(lambda x: \
         1 if x['START_DATE_DIFF'] <= 90 else 0, axis=1)
    print("finish finding 90 day readmission")

def find30Readmission(readmissions):
    readmissions['READMISSION_30_DAY_IND'] = readmissions.apply(lambda x: \
            1 if x['START_DATE_DIFF'] <= 30 else 0, axis=1)
    print("finish finding 30 day readmission")

def findFirstReadmissionDate(admissions):
    admissions['FIRST_READMISSION_DATE'] = admissions.groupby('PATIENT')['START'].transform('min')
    print("finish finding first readmission date")

 
# find readmission indicators and first readmission date
# sort od encounter by patient and start date
od_sort_op_med = od_opiod_active.sort_values(by=['PATIENT','START'])
# calculate the difference in days by patients
od_sort_op_med['START_DATE_DIFF'] = od_encounter.groupby('PATIENT')['START'].diff().dt.days
od_sort_op_med['START_DATE_DIFF'].fillna(-1)
# filter out readmission dates
od_readmit_encounter = od_sort_op_med[od_sort_op_med['START_DATE_DIFF'] > 0]
findFirstReadmissionDate(od_readmit_encounter)
find30Readmission(od_readmit_encounter)
find90Readmission(od_readmit_encounter)
print(od_readmit_encounter.info())
#rename columns
od_readmit_encounter = \
od_readmit_encounter.rename(columns={'PATIENT': 'PATIENT_ID',
"ENCOUNTER": "ENCOUNTER_ID",
"START": "HOSPITAL_ENCOUNTER_DATE",
"Age":"AGE_AT_VISIT"})
result = od_readmit_encounter[['PATIENT_ID','ENCOUNTER_ID',
'AGE_AT_VISIT','HOSPITAL_ENCOUNTER_DATE',
'DEATH_AT_VISIT_IND','COUNT_CURRENT_MEDS','CURRENT_OPIOID_IND','FIRST_READMISSION_DATE',
'READMISSION_30_DAY_IND',
'READMISSION_90_DAY_IND']]

In [ ]:
result.to_csv('./datasets/od_encounter_data.csv', index=False)
print("saved to csv, finishing data processing.")

In [39]:
tools = ['Pandas','SQL']
lower_tools = []
for w in tools:
    lower_tools.append(w.lower())
print(lower_tools)

['pandas', 'sql']